.wrapper-attachment {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    i, span {
        padding-right: 5px;
    }
}
.cursor-pointer {
    cursor: pointer;
}
