<div class="wrapper-attachment" *ngFor="let row of uploads">

    <i class="material-icons">insert_drive_file</i>

    <span *ngIf="row.inEditing">
        <input [(ngModel)]="row.title" />
        <i class="material-icons cursor-pointer" (click)="save(row)">save</i>
    </span>
    <span *ngIf="!row.inEditing">{{ row.title }} ({{ row.size | fileSize }})</span>

    <i class="material-icons cursor-pointer" (click)="row.toggleEdit()">edit</i>
    
    <i class="material-icons cursor-pointer" (click)="download(row)">cloud_download</i>
    
    <i class="material-icons cursor-pointer" (click)="delete(row)">delete</i>

</div>
