<div class="uploads-multiple">

    <div>
        <ng-container *ngTemplateOutlet="dropZoneSelect ? dropZoneTemplate : buttonTemplate"></ng-container>
    </div>
    <span class="hide-input">
        <input type="file" #fileInput ng2FileSelect multiple [uploader]="uploader" />
    </span>

    <div *ngIf="uploader.queue.length > 0">

        <div class="wrapper-attachment" *ngFor="let attachment of uploader.queue">

            <i class="material-icons">insert_drive_file</i><span>{{ attachment?.file?.name }} ({{ attachment?.file?.size | fileSize }})</span>

            <i class="material-icons cursor-pointer" (click)="attachment.remove()">cancel</i>

            <i class="material-icons cursor-pointer" (click)="attachment.upload()">cloud_upload</i>
    
            <i class="material-icons cursor-help" [matTooltip]="attachment.errors" *ngIf="attachment?.errors">error</i>
    
            <span class="attachment-spinner" *ngIf="attachment.isUploading">
                <span class="text">{{attachment.progress}} %</span>
                <mat-progress-spinner class="spinner" color="primary" mode="determinate" diameter="30" [value]="attachment.progress"></mat-progress-spinner>
            </span>

        </div>

        <div class="wrapper-action">

            <span class="action-confirm pointer" (click)="uploader.uploadAll()"><i class="material-icons">cloud_upload</i></span>
    
            <span class="action-reset pointer" (click)="resetQueue()"><i class="material-icons">delete_sweep</i></span>
    
        </div>

    </div>

</div>

<ng-template #buttonTemplate>

    <a (click)="fileInput.click()">
        <ng-content></ng-content>
    </a>

</ng-template>

<ng-template #dropZoneTemplate>

    <div ng2FileDrop
        [ngClass]="{'hover': hasDropZoneHover}"
        [uploader]="uploader"
        (fileOver)="fileHover($event)"
        (click)="fileInput.click()"
        class="drop-zone">
        <i class="material-icons">cloud_upload</i> Trascina o Clicca per caricare
   </div>

</ng-template>
