.hide-input {
    visibility: hidden;
    position: absolute;
    overflow: hidden;
    width: 0px;
    height: 0px;
    border: none;
    margin: 0;
    padding: 0;
}
.drop-zone {
    cursor: copy;
    border: dotted 3px lightgray;
    padding: 1rem;
    font-size: 12px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    &.hover {
        border-color: green;
    }
}
.wrapper-attachment {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    i, span {
        padding-right: 5px;
    }
}
.cursor-pointer {
    cursor: pointer;
}
.cursor-help {
    cursor: help;
}
