<multiple-uploads [dropZoneSelect]="false" 
    [showToast]="true"
    type="image"
    category="test"
    (successUploadEmitter)="files.push($event)">
    <button>Scegli</button>
</multiple-uploads>

<hr>

<single-uploads [dropZoneSelect]="false"
    [showToast]="true"
    type="image"
    category="test"
    (successUploadEmitter)="files.push($event)">
    <button>Scegli</button>
</single-uploads>

<hr>

<show-uploads [uploads]="files">
</show-uploads>