<div class="uploads-single">

    <div *ngIf="uploader.queue.length == 0">
        <ng-container *ngTemplateOutlet="dropZoneSelect ? dropZoneTemplate : buttonTemplate"></ng-container>
    </div>
    <span class="hide-input">
        <input type="file" #fileInput ng2FileSelect multiple [uploader]="uploader" />
    </span>

    <div class="wrapper-attachment" *ngIf="uploader.queue.length > 0">

        <i class="material-icons">insert_drive_file</i><span>{{ attachment?.file?.name }} ({{ attachment?.file?.size | fileSize }})</span>

        <i class="material-icons cursor-pointer" (click)="attachment.remove()">cancel</i>

        <i class="material-icons cursor-help" [matTooltip]="attachment.errors" *ngIf="attachment?.errors">error</i>

        <span class="attachment-spinner" *ngIf="attachment.isUploading">
            <span class="text">{{attachment.progress}} %</span>
            <mat-progress-spinner class="spinner" color="primary" mode="determinate" diameter="30" [value]="attachment.progress"></mat-progress-spinner>
        </span>

    </div>

</div>

<ng-template #buttonTemplate>

    <a (click)="fileInput.click()">
        <ng-content></ng-content>
    </a>

</ng-template>

<ng-template #dropZoneTemplate>

    <div ng2FileDrop
        [ngClass]="{'hover': hasDropZoneHover}"
        [uploader]="uploader"
        (fileOver)="fileHover($event)"
        (click)="fileInput.click()"
        class="drop-zone">
        <i class="material-icons">cloud_upload</i> Trascina o Clicca per caricare
   </div>

</ng-template>
