#load-bar {
  height: 4px;
  width: 100%;
  position: absolute;
  top:0px;
  overflow: hidden;
  background-color: #ddd;
  display: none;
  z-index: 1001;
}

#load-bar:before {
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 4px;
  background-color: #2980b9;
  animation: loading 2s linear infinite;
}

@keyframes loading {
  from {
      left: -200px;
      width: 30%;
  }
  50% {
      width: 30%;
  }
  70% {
      width: 70%;
  }
  80% {
      left: 50%;
  }
  95% {
      left: 120%;
  }
  to {
      left: 100%;
  }
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(239, 108, 0, 0.2);
  border-right: 1.1em solid rgba(239, 108, 0, 0.2);
  border-bottom: 1.1em solid rgba(239, 108, 0, 0.2);
  border-left: 1.1em solid lighten(#EF6C00, 20%);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: spinner 1.1s infinite linear;
  animation: spinner 1.1s infinite linear;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
