@media (max-width:961px) {

    #responsive-nav {
        .toolbar-navigation {
            top: 0 !important;
        }
    }

    /* sidenav */
    #side-nav {
        left: -210px !important;
    }
    .wrapper-side-nav {
        left: 0 !important;
        top: 90px !important;
        .standard-list {
            width: 100% !important;
        }
    }

    #top-nav {
        .toolbar-navigation {
            top: -250px;
        }
    }
}
@media (max-width:961px) {

}
