html {
  font-family: 'Helvetica';
}

body {
  margin: 0;
}

.full-width {
  width: 100%;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.fa.green {
  color: #008844;
}

.snackbar-error {
  background: #a30808!important;
}

.mat-calendar-table-header-divider {
  display: none;
}
.mat-calendar-table-header th {
  padding: 10px !important;
}

.no-overflow {
  overflow: hidden !important;
}

.color-link {
  color: #2195F2;
  text-decoration: none;
  &:hover {
    cursor: pointer;
    color: #03A9F3;
  }
}

table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  tr {
    &:hover {
      background-color: #efefef !important;
    }
    &:nth-of-type(odd) {
      background-color: #f5f5f5;
    }
    &:nth-of-type(even) {
      background-color: #fafafa;
    }
    &.selected-row {
      background-color: rgba(3, 155, 229, 0.2) !important;
    }
    th {
      padding: 10px;
      background-color: #eaeaea;
    }
    td {
      padding: 0 10px;
    }
  }
}
