@import '~@angular/material/theming';

@include mat-core();

$primary: mat-palette($mat-light-blue, 600, A100, A400);
$accent: mat-palette($mat-amber, 700);

$warn: mat-palette($mat-red, 600);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
