.wrapper-side-nav {
  .standard-list {
    width: 100%;
    transition: all 0.3s ease;
  }
  &.small {
    .standard-list {
      width: 100%;
    }
  }

  .standard-detail {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 210px;
    width: calc(100% - 210px);
    padding: 20px;
    box-sizing: border-box;
    background-color: #ffffff;
    z-index: 100;
    overflow: auto; 
    transition: all 0.3s ease;
  }
  &.small {
    .standard-detail {
      left: 68px;
      width: calc(100% - 68px);
    }
  }
}
