.wrapper-top-nav {
  .standard-list {
    transition: all 0.3s ease;
  }
  .standard-detail {
    position: fixed;
    top: 89px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    box-sizing: border-box;
    background-color: #ffffff;
    z-index: 100;
    overflow: auto; 
    transition: all 0.3s ease;
  }
}
