<h1 class="center">Virtual Scroll using Angular 7</h1>


Length: {{articles.length}}
<ul class="list">
  <cdk-virtual-scroll-viewport style="height: 500px" itemSize="90" (scrolledIndexChange)="nextBatch($event)">
    <ng-container *cdkVirtualFor="let row of articles">
      <li class="list-item"> {{row.name}} {{row.category}}</li>
    </ng-container>
  </cdk-virtual-scroll-viewport>
</ul>